button {
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-style: var(--border-style);

  color: var(--text);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);

  font-family: var(--primary-font);
}
