.btn--outline {
  padding: var(--spacing-xs);
  background: var(--bg-translucent);
  border-radius: 8px;
  border: 2px solid var(--primary);
  font-size: 12px;
  font-family: var(--primary-font);
  color: var(--text);
  cursor: pointer;
  transition: 0.2s ease;
}
