@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap");

:root {
  /* =========================
     COLORS
  ========================== */

  --primaryColor: #8ef6e4;
  --secondaryColor: #edb1f1;
  --backgroundColor: #86d9fe;
  --grey: #9e9e9e;
  --color-text-muted: var(--grey);

  /* =========================
     SPACING
  ========================== */
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;

  /* =========================
     TYPOGRAPHY
  ========================== */

  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-2xl: 32px;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  --primary-font: "Fuzzy Bubbles";
  font-family: "Fuzzy Bubbles", system-ui;

  /* =========================
     border
  ========================== */

  --border-radius-sm: 8px;
  --border-width: 5px;
  --border-style: solid;
  --border-color: var(--secondaryColor);
}
