.input {
  color: var(--bg);
  font-weight: var(--font-weight-bold);
  font-family: 'Fuzzy Bubbles';
}

.input::placeholder {
  color: var(--text-muted);
}

.input:focus {
  color: var(--text-muted);
}
