.panel {
  width: 100%;
  border-radius: var(--border-radius-sm);
  border: 3px solid;
  text-align: center;
  overflow: hidden;
}

.greenPanel {
  border-color: #e0f5e0;
  background-color: #e0f5e0;
}

.pinkPanel {
  background-color: #ffe9f0;
  border: 3px solid var(--accent-pink);
}

.bluePanel {
  background-color: #c8e1f6;
  border: 3px solid #c8e1f6;
}

.panelHeading {
  text-align: center;
}

.panelHeading h2 {
  margin: 0;
  padding: var(--spacing-sm) 0;
}

.panelContent {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-xs);
  background-color: #fff;
}
