.familyPanel {
  background-color: #ffe9f0;
  border: 2px solid var(--accent-pink);
}

.family {
  display: grid;
  gap: var(--spacing-sm);
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.emptyFamily {
  padding: var(--spacing-xs);
  border: 2px solid #faa18f;
  border-radius: var(--border-radius-sm);
  background-color: var(--accent-red);
}

.relationshipCard {
  height: 70px;
}
