.family {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: var(--spacing-md);
  width: 100%;
}

.emptyFamily {
  padding: var(--spacing-xs);
  border-radius: var(--border-radius-sm);
  background-color: #c8e1f6;
}

.relationshipCard {
  width: 40%;
  min-height: 0;
}

.emptyFamily .muted {
  font-size: var(--font-size-sm);
  margin: 2px;
}
