* {
  box-sizing: border-box;
}

html {
  /* This ensures the html tag spans the full height of the content */
  min-height: 100%;

  /* Apply the background here instead of the body */
  background: linear-gradient(0deg, #c2e6f5, var(--bg));

  /* Crucial: prevents the gradient from "restarting" as you scroll */
  background-attachment: fixed;

  transition: 0.2s ease;

  margin-bottom: 30px;
}

body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(0deg, #c2e6f5, var(--bg));
  background-attachment: fixed;
}

body::before {
  content: '🌿 🐾 🐖 🌽 ☀️ 🍅 🌻 🌼 🥦 🥕 🥬 🐾 🥦 🍅 🌻 🌼 🥦 🥕 🥬 🐾 🥦 🌽 🍅 🌿 🐾 🌽 🍅 🌿 🐾 🐖 🌽 ☀️ 🍅 🌻 🌼 🥦 🥕 🥬 🐾 🥦 🌽 🍅 🌼 🌿 ☀️ 🥕 🌻 🐖 🥬 🥬 🌼 ☀️ 🌽 🌻 🥦 🌿 🐾 🐖 🥕 🍅 🌼 🌻 🥬 🐾 🌿 🌽 🐖 🍅 🥕 ☀️ 🥦 🐖 ☀️ 🐾 🌽 🍅 🌼 🌻 🥦 🌿 🥕 🥬 🐖 🐾 🥬 🌿 🥕 ☀️ 🌻 🥦 🌽 🍅 🌼 ☀️ 🌿 🌻 🥕 🐖 🌼 🍅 🥦 🌽 🥬 🐾 ☀️ 🌽 🌿 🍅 🥬 🥕 🐾 🌼 🐖 🥦 🌻 🍅 🐾 🌿 🥦 🌽 🌼 ☀️ 🥕 🌻 🐖 🥬 🥦 🐾 🌻 🌽 🌼 🌿 🥕 🥬 🐖 🐾 🥬 🌿 🥕 ☀️ 🌻 🥦 🌽 🍅';
  position: fixed;
  top: 0;
  left: -50%;
  width: 200%;
  height: 200%;
  font-size: 28px;
  line-height: 60px;
  letter-spacing: 20px;
  word-spacing: 10px;
  opacity: 0.12;
  pointer-events: none;
  z-index: 0;
  transform: rotate(-15deg);
  overflow: hidden;
}

#root {
  height: 100%;
  margin: 0;
}

.wrapper {
  padding: 10px;
  position: relative;
  z-index: 1;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 20px;
}

header .headerLink {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.headerLeft > div {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: var(--font-size-xl);
  margin: 0px;
}

.headerLogo {
  height: 42px;
  width: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid var(--primary-dark);
}

h2 {
  margin: 4px 0;
}

h3 {
  margin: var(--spacing-xs);
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.headerLinks {
  display: flex;
  gap: var(--spacing-xxs);
}

header .emoji-btn {
  padding: 0px 5px;
  height: 32px;
  width: auto;
  font-size: 18px;
  border-color: var(--primary-dark);
}

header a {
  color: var(--primary-dark);
}

header button:hover {
  background: var(--bg);
  color: var(--text);
}

input {
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  border-color: var(--border-color);
  border-width: var(--border-width);
  border-style: var(--border-style);
  font-family: var(--primary-font);
}

textarea {
  padding: var(--spacing-sm);
  border-radius: var(--border-radius-sm);
  border: 2px solid rgba(0, 0, 0, 0.1);
}
