.passedPigListWrapper {
  margin-top: var(--spacing-lg);
  text-align: center;
}

.passedPigListWrapper h2 {
  padding: 24px;
}

.passedPigList {
  display: grid;
  gap: var(--spacing-xs);
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  width: 100%;
}
