.homePageFilters {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  .homePageFilter {
    width: 100%;
    height: 40px;
  }
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
    .homePageFilter {
      flex-grow: 1;
    }
  }
}

.unseenBanner,
.sickBanner,
.tasksBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 8px 12px;
  border-radius: var(--border-radius-sm);
  background-color: #e63946;
  opacity: 0.6;
  color: black;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--primary-font);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.unseenBanner:hover,
.sickBanner:hover {
  opacity: 0.8;
}

.unseenBanner.bannerActive,
.sickBanner.bannerActive {
  opacity: 1;
}

.tasksBanner {
  background-color: var(--primary);
}
